*{
  margin: auto;
}
/* HEADER */
header{
  display: flex;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 30px white;
  z-index: 1000;
  width: 100%;
  height: 4.5em;
  justify-content: center;
  align-items: center;
  background-color:#000000;
  position: fixed;
}
header h1{
  position: absolute;
  left: 0;
  text-shadow: -1px -1px 0 #fff,1px -1px #fff,-1px 1px #fff, 1px 1px 0 #fff;
}
.menu-icon {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.menu-icon img {
  width: 30px;
  height: 30px;
  visibility: hidden;
}

nav{
  text-align: center;
  border: 1px solid white;
  border-radius:12px;

}
nav ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li{
  margin: 0 15px;
}
a{
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav ul li a.active {
color: blue;
font-size: 23px;
}
.nav-links{
  display: flex;
}

.wlk{
  display: block;
}
/*HOME*/
.home{
  margin-top: 4em;
  width: 100%;
  height:fit-content;
  display: flex;
  background:linear-gradient(to bottom, white,black);
  background: url('./component/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
 .home .left{
  position: relative;
  width: 45%;
  display:block;
  align-items: center;
  margin-top: 20px;
  font-size: 18px;
  color:antiquewhite;
  text-shadow: 5px 5px 10px black;
}
.left h1{
  margin-left: 40px;
}
.left h4{
  padding-left: 100px;
  margin-top: 10px;
  font-size: 20px;
  text-decoration: underline;
}
.display {
  margin-left: 100px;
  font-size: 1.2rem;
  margin-top: 10px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 4px;
  color: black;
  background:wheat;
  font-weight: bolder;
  transition: opacity 0.5s ease-in-out;
}

.display.hidden {
  opacity: 0;
}
.left h3{
  width: 50%;
  margin-top: 30px;
  margin-left: 40px;
  text-align: center;
  font-family:cursive;
  border-radius: 8px;
  font-size: 1.2em;
  border: 1px solid black;
  box-shadow: 2px 2px 10px white;
}
.left h6{
  margin-left: 40px;
  width: 50%;
  align-items: center;
  font-size: 20px;
  background-color: black;
  text-shadow: 2px 3px 10px white;
}
.contact {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
  display: flex;
}

.email-section, .contact-section {
  margin-top: 15px;
}

.contact p {
  font-size: 23px;
  font-weight: bold;
  text-shadow: 2px 2px 3px white;
  color: black;
  margin: 0;
  padding-bottom: 5px;
}

.contact h1 {
  border: 1px solid black;
  border-radius: 7px;
  text-decoration: none;
  box-shadow: 5px 4px 1px black;
  font-size: 18px;
  margin: 0;
  line-height: 1.2;
}

.home .right{
  color:black;
  font-size: 3.5em;
  text-shadow: 13px 14px 20px white;
  text-align: center;
  border-radius: 50%;
  border: 10px solid black;
}
.right h4{
  right: 0;
  color: wheat;
  text-shadow: 10px 10px 20px white;
}

/*Bontech*/

.Bontech{
  background-image: url(./component/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height:fit-content;
  display: flex;
}
.left{
  width: 50%;
  margin-top: 7em;
  margin-left: 5em;
  display:block;
  
}
.Bontech .left #about{
text-align:left;
border: 2px dotted white;
border-radius: 6px;
padding: 10px;
box-shadow: 2px 4px 8px white;
}
#about:hover{
  text-shadow: 1px 0px 4px white;
}
#about h1{
  text-decoration: underline;
  text-align: center;
  color:wheat;
}
.Bontech .left #mission{
  margin-top: 2em;
  width: 75%;
  text-align:left;
  border: 2px dotted white;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 2px 4px 8px white;
}
#mission:hover{
  text-shadow: 1px 0px 4px white;
}
#mission h1{
  text-decoration: underline;
  text-align: center;
  color:wheat;
}

.Bontech .right{
  width: 50%;
  margin-top: 7em;
  margin-left: 1em;
  margin-right: 4em;
}
.right img{
  width: 100%;
  height:30em;
  border-radius: 5px;
}
.right #origin{
  margin-top: 1em;
  border: 1px solid black;
  font-size: 9px;
  border-radius: 6px;
  padding: 1.5em;
  color:antiquewhite;
  word-spacing: 3px;
}
#origin:hover{
  color: black;
  border:1px solid white;
}
/*Connect*/
.connect{
  margin-top: 3em;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: url(./component/images/bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 94vh;

}

.connect #form{
    background: transparent;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow:10px 5px 30px black;
    width: 100%;
    max-width: 60%;
    text-align: center;
}
#form h1{
    color: wheat;
    text-transform: capitalize;
    text-decoration: underline;
    margin-bottom: 20px;
}
form input,
form textarea {
    width:70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
  
}

form button {
    background: #312d2a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

form button:hover {
    background:transparent;
    border: 2px solid black;
}

/*Mobile View*/

@media only screen and (max-width: 480px)  {
  html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height:10vh;
    margin-bottom: 0;
    overflow-y: auto;
  }
  /*header*/
  header{
    top: 0;
    height:2.5em;
    justify-content: center;
    align-items: center;
    background:black;
    display: flex;
    z-index: 1000;
  }
  
  header h1{
    font-size: 1.4em;
    text-shadow: -1px -1px 0 #fff,1px -1px #fff,-1px 1px #fff, 1px 1px 0 #fff;
    margin-left: 5px;
    margin-bottom:7px ;
  }
  .menu-icon img {
    width:50px;
    height: 40px;
    visibility:visible;
    margin-left: auto;
  }

  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top:3em;
    right: 0;
    width: 40%;
    background: black;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.open {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    width: 50%;
  }

  nav ul li {
    margin: 10px 0;
    font-size: small;
  }
  nav ul li a.active {
    color:blue;
    font-size: large;
    }

  .menu-icon img {
    visibility: visible; 
  }
  .home{
    margin-top:2em;
    display:flex;
    flex-direction: column-reverse;
  }
    .home .left{
      justify-content: center;
      align-items: center;
    margin-left: 0;
    width:100%;
    text-shadow:3px 4px 5px black;
    }
    .left h1{
    margin-left:20px;
    font-size:30px;
    }
    .left h4{
    padding-left:50px;
    font-size:15px;
    }
    .display{
    margin-left:50px;
    font-size:1.1rem;
    }
    .left h3{
    margin-left: 20px;  
    width:85%;
    height:max-content;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.3em;
    margin-right: 20px;

    }
    .left h6{
    margin-top: 10px;
    margin-left:20px;
    width:70%;
    }

    .contact {
      flex-direction: column; 
      align-items: center;
      text-align: center;
      gap: 10px; 
    }
  
    .email-section, .contact-section {
      width: 60%;
    }
  
    .contact p {
      font-size: 18px;
      font-weight: bold;
      color: black;
      margin-bottom: 5px;
    }
  
    .contact h1 {
      border: 1px solid black;
      border-radius: 7px;
      box-shadow: 3px 3px 1px black;
      font-size: 16px;
      padding: 8px;
      text-align: center;
      width: 100%;
    }
    .contact h1 a {
      color: white;
      text-decoration: none;
      font-size: 11px;
      font-weight: bold;
    }
  
    .contact h1 a:hover {
      font-size: 11px;
      text-decoration: underline;
    }

    .home .right{
    margin-top: 1em;
    font-size:2em;
    text-shadow: 6px 10px 16px white;
    }

}